@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 763px;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

h1,
h2,
h3,
ul,
p,
figure,
fieldset {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.app {
    width: 100%;
    height: 100%;
    max-width: 661px;
    background-color: rgba(196, 196, 196, 1);
    align-self: center;
    padding: 62px 80px 72px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.app__notice {
    position: absolute;
    right: 5px;
    background-color: #ffffff;
    border: 2px solid #000;
    padding: 5px 10px;
}
.app__notice--form {
    top: 0;
    right: 0;
}
.app__notice-txt {
    font-size: 20px;
    color: red;
}
.app__form {
    position: relative;
}
.app__input {
    font-size: 48px;
    background-color: #ffffff;
    width: 100%;
    border: none;
    padding: 0 13px;
    height: 61px;
}
.app__autocomplete-item {
    display: flex;
    align-items: center;
    border: 2px solid #000;
    background-color: rgba(227, 227, 227, 1);
    height: 44px;
    position: relative;
    cursor: pointer;
}
.app__autocomplete-item:hover {
    background-color: #65cdf9;
}
.app__autocomplete-txt {
    font-size: 30px;
    line-height: 35px;
    padding: 0 13px;
}
.app__repositories {
    display: flex;
    flex-direction: column-reverse;
}
.app__repo {
    background-color: rgba(226, 123, 235, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}
.app__info-txt {
    font-size: 24px;
    line-height: 28px;
}
